.wholePage{
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.AboutTop {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 85%;
}

.Header {
    display: flex;
    position: absolute;
    font-size: 2.0vw;
    font-weight: 500;
    flex-direction: row;
    top: 11%;
    left: 5%;
}

.HeaderLine {
    color: #FFAB00;
}

.leftContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.rightContainer {
    display: flex;
    flex: 1;
    height: 80vh;
    font-size: calc(0.165rem + ((1vw - 10.4px) * 1.5625));
    align-items: center;
    justify-content: center;
}

.rightInnerContainer {
    padding-top: 10%;
    width: 88%;
}

.MyInfo {
    margin-top: -10px;
    margin-bottom: -10px;
}

.MyName {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 20vh;
    padding-left: 1vw;
}

.MyNameEng {
    font-size: 1vw;
    font-weight: 300;
}

.MyImageContainer {
    display: flex;
    flex: 5;
    width: 80%;
}

.pMyName{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.headerLogo {
    color: #FFAB00;
    padding-bottom: 6px;
    font-size: calc(0.365rem + ((1vw - 10.4px) * 1.5625));
    margin-right: 10px;
}

.headerLogo1{
    color: #FFAB00;
    padding-bottom: 6px;
    font-size: 18px;
    margin-right: 5px;
}

.headerLogo2 {
    color: #FFAB00;
    padding-bottom: 6px;
    font-size: 23px;
    margin-right: 5px;
}

.table{
    margin-top: -20px;
    width: 90%;
    text-align: center;
}

.skillbarAnimation{
    position: absolute;
    left: 20%;
    margin-top: 2.5vw;
    background: linear-gradient(to right, #FFAB00, #f83600);
    height: 20px;
    border-radius: 50px;
    z-index: 1;
}

.pSkillbarAnimation{
    position: absolute;
    top: 13%;
    left: 30%;
    background: linear-gradient(to right, #FFAB00, #f83600);
    height: 20px;
    border-radius: 50px;
    z-index: 1;
}

.pSkillbarWhite {
    position: absolute;
    top: 13%;
    left: 30%;
    width: 60%;
    filter: drop-shadow(1px 4px 4px rgba(0,0,0,0.2));
    height: 20px;
    border-radius: 50px;
    background-color: #EFEFEF;
}

.skillbarWhite{
    position: absolute;
    left: 20%;
    margin-top: 2.5%;
    width: 25%;
    filter: drop-shadow(1px 4px 4px rgba(0,0,0,0.2));
    height: 20px;
    border-radius: 50px;
    background-color: #EFEFEF;
}

.pSkillPersent1{
    position: absolute;
    top: -50px;
    right: 14vw;
    font-size: 20px;
    font-weight: bold;
}

.pSkillPersent2{
    position: absolute;
    top: -40px;
    right: 14vw;
    font-size: 20px;
    font-weight: bold;
}

.skillPersent{
    position: absolute;
    font-size: 30px;
    margin-top: 0px;
    left: 28vw;
    font-weight: bold;
}

.pSkillNameContainer {
    position: absolute;
    top: -20px;
}

.skillNameContainer {
    position: absolute;
    left: 13%;
}

.pSkillName1 {
    position: relative;
    top: -30px;
    left: 35vw;
    font-size: 5vw;
}

.pSkillName2 {
    position: relative;
    top: -20px;
    left: 35vw;
    font-size: 5vw;
}

.skillName {
    position: absolute;
    left: 7vw;
}

.box {
    width: 50%;
    box-sizing: border-box;
    height: 500px;
    left: 25%;
    top: 10%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    background-color: #EFEFEF;
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.1));
}